@tailwind base;
@tailwind components;
@tailwind utilities;

.text-brand-color {
  background: linear-gradient(to right, #d49319, #a50a83);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
html,
#main-wrapper {
  scroll-behavior: smooth;
}
body {
  background-color: #fff !;
  color: #464545;
}
.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}
.main-sidebar {
  @apply fixed overflow-x-hidden  left-0 rtl:right-0 rtl:left-auto  top-0 z-[200] flex h-screen flex-col    bg-white  shadow-blue-gray-300 dark:bg-boxdark lg:static lg:translate-x-0;
}
.sidebar-backdrop {
  @apply fixed left-0 top-0 transition-all  backdrop-filter bg-white z-[100];
}
.sidebar-logo {
  @apply absolute -translate-x-1/2 -translate-y-1/2 w-fit left-1/2 top-1/2;
}
.side-nav-link {
  @apply box-border relative flex items-center m-2 mx-2 text-sm font-bold text-gray-800 duration-300 bg-transparent rounded cursor-pointer gap-x-2 hover:font-bold hover:bg-opacity-10;
}
.side-nav-link-active {
  background: linear-gradient(203deg, #5babd3, #35b1ef);
  color: #fff;
}
.card-item-windows {
  transition: all 0.4s ease-in;
}
.card-item-windows:hover {
  transform: scaleY(1.09) !important;
}
.ltr-font,
.ltr-font *,
.font-sans {
  /* font-family: Roboto, -serif; */
  font-family: "Bahij Koodak" !important;
}
.swal-modal * {
  font-family: "Bahij Koodak" !important;
}

.rtl-font,
.rtl-font * {
  font-family: "Bahij Koodak" !important;
}

body.dark .card,
body.dark .card {
  background-color: rgb(24, 26, 32);
}
body.dark hr {
  background-color: blue !important;
  border-color: blue !important;
}
body[dir="rtl"] .scrollbar-track-y {
  left: 0;
  right: unset;
}

.developer-profile {
  position: relative;
  overflow: hidden;
}
.developer-profile > div {
  position: relative;
  z-index: 1000;
}

.developer-profile::after {
  position: absolute;
  visibility: visible;
  background-color: red;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg-box-1.png");
  background-position: center;
  z-index: 100;
  bottom: -25px;
  opacity: 0.35;
}
.nn {
  box-shadow: -15px 18px #fff;
}
.mobile-fotter-bar {
  background-size: cover;
  background-position: center center;
}
.mobile-fotter-bar-bottom {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.drop {
  z-index: 0;
  width: 10px;
  height: 10px;
  background-color: #0285cb;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: drop-water 0.7s ease-in-out;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes drop-water {
  0% {
    top: -20px;
    opacity: 1;
  }
  90% {
    top: 15px;
    opacity: 1;
    width: 10px;
  }
  100% {
    top: 15px;
    opacity: 0;
    width: 0;
  }
}
