@font-face {
  font-family: "Bahij Nazanin";
  src: url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.eot");
  src: local("Bahij Nazanin Bold"), local("BahijNazanin-Bold"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.woff2") format("woff2"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.woff") format("woff"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.ttf") format("truetype"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Bold.svg#BahijNazanin-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahij Nazanin";
  src: url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.eot");
  src: local("Bahij Nazanin"), local("BahijNazanin-Regular"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.woff2") format("woff2"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.woff") format("woff"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.ttf")
      format("truetype"),
    url("../fonts/dari/BahijNazanin/BahijNazanin-Regular.svg#BahijNazanin-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahij Koodak";
  src: url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.eot");
  src: local("Bahij Koodak"), local("BahijKoodak-Regular"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.woff2") format("woff2"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.woff") format("woff"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.ttf") format("truetype"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Regular.svg#BahijKoodak-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahij Koodak";
  src: url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.eot");
  src: local("Bahij Koodak Bold"), local("BahijKoodak-Bold"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.woff2") format("woff2"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.woff") format("woff"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.ttf") format("truetype"),
    url("../fonts/dari/Bahij Koodak/BahijKoodak-Bold.svg#BahijKoodak-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
